<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.warehousemanagement.mapper.GoodsManagementMapper">
    <select id="queryGoodsList" resultType="GoodsManagement">
        select * from goods_management;
    </select>

    <select id="countGoodsNumber" resultType="Integer">
        select count(1) from goods_management;
    </select>

    <insert id="insertGoods" parameterType="GoodsManagement">
        INSERT INTO
        `goods_management`(`goods_id`, `goods_name`, `goods_number`, `last_operator_id`, `quantity_ceiling`, `quantity_floor`, `goods_status_id`, `create_time`, `update_time`)
        VALUES
        (#{goodsId}, #{goodsName}, #{goodsNumber}, #{lastOperatorId}, #{quantityCeiling}, #{quantityFloor}, #{goodsStatusId}, NOW(), NOW());
    </insert>

    <select id="getGoodsManagementById" parameterType="Integer" resultType="GoodsManagement">
        select * from  goods_management where goods_id = #{goodsId};
    </select>

    <update id="updateGoodsManagement" parameterType="GoodsManagement">
        UPDATE `goods_management`
        <set>
            <if test="goodsId != null and goodsId != ''">
                `goods_id` = #{goodsId},
            </if>
            <if test="goodsName != null and goodsName != ''">
                `goods_name` = #{goodsName},
            </if>
            <if test="goodsNumber != null">
                `goods_number` = #{goodsNumber},
            </if>
            <if test="yesterdayGoodsNumber != null">
                `yesterday_goods_number` = #{yesterdayGoodsNumber},
            </if>
            <if test="lastWeekGoodsNumber != null">
                `last_week_goods_number` = #{lastWeekGoodsNumber},
            </if>
            <if test="lastMonthGoodsNumber != null">
                `last_month_goods_number` = #{lastMonthGoodsNumber},
            </if>
            <if test="lastQuarterGoodsNumber != null">
                `last_quarter_goods_number` = #{lastQuarterGoodsNumber},
            </if>
            <if test="lastYearGoodsNumber != null">
                `last_year_goods_number` = #{lastYearGoodsNumber},
            </if>
            <if test="lastOperatorId != null">
                `last_operator_id` = #{lastOperatorId},
            </if>
            <if test="quantityCeiling != null">
                `quantity_ceiling` = #{quantityCeiling},
            </if>
            <if test="quantityFloor != null">
                `quantity_floor` = #{quantityFloor},
            </if>
            <if test="goodsStatusId != null">
                `goods_status_id` = #{goodsStatusId},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime}
            </if>
        </set>
        WHERE `id` = #{id};

    </update>

    <delete id="delGoodsManagementById" parameterType="String">
        DELETE FROM goods_management where goods_id = #{goodsId}
    </delete>

    <select id="selectGoodsByGoodsManagement" parameterType="GoodsManagement" resultType="GoodsManagement">
        select * from goods_management
        <where>
            <if test="goodsId != null">
                `goods_id` = #{goodsId}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and `goods_name` like CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="goodsNumber != null">
                and `goods_number` = #{goodsNumber}
            </if>
            <if test="yesterdayGoodsNumber != null">
                and `yesterday_goods_number` = #{yesterdayGoodsNumber}
            </if>
            <if test="lastWeekGoodsNumber != null">
                and `last_week_goods_number` = #{lastWeekGoodsNumber}
            </if>
            <if test="lastMonthGoodsNumber != null">
                and `last_month_goods_number` = #{lastMonthGoodsNumber}
            </if>
            <if test="lastQuarterGoodsNumber != null">
                and `last_quarter_goods_number` = #{lastQuarterGoodsNumber}
            </if>
            <if test="lastYearGoodsNumber != null">
                and `last_year_goods_number` = #{lastYearGoodsNumber}
            </if>
            <if test="lastOperatorId != null">
                and `last_operator_id` = #{lastOperatorId}
            </if>
            <if test="quantityCeiling != null">
                and `quantity_ceiling` = #{quantityCeiling}
            </if>
            <if test="quantityFloor != null">
                and `quantity_floor` = #{quantityFloor}
            </if>
            <if test="goodsStatusId != null">
                and `goods_status_id` = #{goodsStatusId}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
    </select>

    <select id="countGoodsNumberByGoodsManagement" parameterType="GoodsManagement" resultType="Integer">
        select count(1) from goods_management
        <where>
            <if test="goodsId != null">
                `goods_id` = #{goodsId}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and `goods_name` like CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="goodsNumber != null">
                and `goods_number` = #{goodsNumber}
            </if>
            <if test="yesterdayGoodsNumber != null">
                and `yesterday_goods_number` = #{yesterdayGoodsNumber}
            </if>
            <if test="lastWeekGoodsNumber != null">
                and `last_week_goods_number` = #{lastWeekGoodsNumber}
            </if>
            <if test="lastMonthGoodsNumber != null">
                and `last_month_goods_number` = #{lastMonthGoodsNumber}
            </if>
            <if test="lastQuarterGoodsNumber != null">
                and `last_quarter_goods_number` = #{lastQuarterGoodsNumber}
            </if>
            <if test="lastYearGoodsNumber != null">
                and `last_year_goods_number` = #{lastYearGoodsNumber}
            </if>
            <if test="lastOperatorId != null">
                and `last_operator_id` = #{lastOperatorId}
            </if>
            <if test="quantityCeiling != null">
                and `quantity_ceiling` = #{quantityCeiling}
            </if>
            <if test="quantityFloor != null">
                and `quantity_floor` = #{quantityFloor}
            </if>
            <if test="goodsStatusId != null">
                and `goods_status_id` = #{goodsStatusId}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
    </select>

    <select id="getGoodsManagementByGoodsName" parameterType="String" resultType="GoodsManagement">
        select * from  goods_management where goods_name = #{goodsName};
    </select>
</mapper>