<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.warehousemanagement.mapper.OutWarehouseManagementMapper">
    <select id="queryOutWarehouseList" resultType="OutWarehouseManagement">
        select * from out_warehouse_management limit #{beginIndex},#{showNumber};
    </select>

    <select id="countOutWarehouseNumber" resultType="Integer">
        select count(1) from out_warehouse_management;
    </select>

    <insert id="addOutWarehouse" parameterType="OutWarehouseManagement">
        INSERT INTO
        `out_warehouse_management`(`out_order_id`, `out_goods_id`, `out_goods_name`, `out_goods_number`, `out_goods_time`, `before_out_goods_number`, `after_out_goods_number`, `operator_id`, `create_time`)
        VALUES
        (#{outOrderId}, #{outGoodsId}, #{outGoodsName}, #{outGoodsNumber}, NOW(), #{beforeOutGoodsNumber}, #{afterOutGoodsNumber}, #{operatorId}, NOW());
    </insert>

    <select id="selectOutGoodsByOutGoods" resultType="OutWarehouseManagement">
        select * from out_warehouse_management
        <where>
            <if test="outWarehouse.id != null">
                id = #{outWarehouse.id}
            </if>
            <if test="outWarehouse.outOrderId != null and outWarehouse.outOrderId != ''">
                and out_order_id = #{outWarehouse.outOrderId}
            </if>
            <if test="outWarehouse.outGoodsId != null and outWarehouse.outGoodsId != ''">
                and out_goods_id = #{outWarehouse.outGoodsId}
            </if>
            <if test="outWarehouse.outGoodsName != null and outWarehouse.outGoodsName != ''">
                and out_goods_name = #{outWarehouse.outGoodsName}
            </if>
            <if test="outWarehouse.outGoodsNumber != null">
                and out_goods_number = #{outWarehouse.outGoodsNumber}
            </if>
            <if test="outWarehouse.outGoodsTime != null">
                and out_goods_time = #{outWarehouse.outGoodsTime}
            </if>
            <if test="outWarehouse.beforeOutGoodsNumber != null">
                and before_out_goods_number = #{outWarehouse.beforeOutGoodsNumber}
            </if>
            <if test="outWarehouse.afterOutGoodsNumber != null">
                and after_out_goods_number = #{outWarehouse.afterOutGoodsNumber}
            </if>
            <if test="outWarehouse.operatorId != null">
                and operator_id = #{outWarehouse.operatorId}
            </if>
            <if test="outWarehouse.createTime != null">
                and create_time = #{outWarehouse.createTime}
            </if>
        </where>
        limit #{page.beginIndex},#{page.showNumber};
    </select>

</mapper>