<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.warehousemanagement.mapper.PersonnelManagementMapper">
    <select id="queryPersonnelManagementList" resultType="PersonnelManagement">
        select * from personnel_management;
    </select>

    <select id="queryPersonnelManagementNameById" resultType="String" parameterType="Long">
        select * from personnel_management where id = #{id};
    </select>
</mapper>