<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>入库列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../../static/dist/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../../static/dist/layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">

          <div class="layui-inline">
            <label class="layui-form-label">入库订单号</label>
            <div class="layui-input-inline">
              <input type="text" name="entryOrderId" id="searchEntryOrderId" placeholder="请输入订单号" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-inline">
            <label class="layui-form-label">商品编号</label>
            <div class="layui-input-inline">
              <input type="text" name="entryGoodsId" id="searchEntryGoodsId" placeholder="请输入商品编号" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-out-goods-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button class="layui-btn layuiadmin-btn-list layui-bg-red" lay-submit lay-filter="LAY-app-out-goods-refresh">
              <i class="layui-icon layui-icon-refresh-3 layuiadmin-button-btn"></i>
            </button>
          </div>

        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
        </div>

        <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>

      </div>
    </div>
  </div>

  <script src="../../../../static/dist/layuiadmin/layui/layui.js"></script>
  <script src="../../../../static/dist/layuiadmin/service/entrylist.js"></script>
</body>
</html>
